*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:  border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva;
}

.contGrid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.contGrid > .producto{
    width: 300px;
    height: 500px;
    border: solid 2px #000;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.contGrid > .producto > .imgCont{
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-bottom: solid 2px #000;
}

.contGrid > .producto > .imgCont > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.contGrid > .producto > .contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contGrid > .producto > .contenido > h2{
    font-size: 22pt;
}


.contGrid > .producto > .contenido > p{
    font-size: 18pt;
}

.contGrid > .producto > .contenido >button,
.carrito > .buyAll {
    margin-top: 5px;
    cursor: pointer;
    padding: 5px;
    background: none;
    border:  solid 2px rgb(0, 120, 189);
}

.carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 10px;
}


table{
    border: solid 2px #000;
}

table tr td .tt{
    width: 140px;
    text-align: center;
}


/*LOGIN*/

.container-login{
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: rgb(255, 251, 251);
	font-family: sans-serif;
	background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
										url(../img/fondo.jpg);
	background-position: center;
	background-size: cover;
	font-weight: 300;
}
.login-box{
	position: relative;
	margin: 10% auto;
	height: 350px;
	width: 300px;
	background: rgba(0,0,0,.4);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .8);
}
.left-box{
	position: absolute;
	top: 0;
	left: 0;
	padding: 40px;
	width: 300px;
	height: 400px;
}
h1{
	margin-bottom: 20px;
	font-size: 28px;
	color: #fff;
}
.input-box{
	display: block;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: 1px solid #fff;
	outline: none;
	font-size: 15px;
	transition: .2s;
	color: #fff;
	background: transparent;
}
input[type="submit"]{
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 120px;
	background: #f44336;
	border: none;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	transition: .2s;
	padding: 6px;
}

input[type="submit"]:hover,
input[type="submit"]:focus{
	background: #ff5722;
	transition: .2s;
}

input::placeholder{
	color:#a7a2a2;
}